


body {
  font-family: 'Bebas Neue', 'Raleway', basic-sans, sans-serif;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  /* line-height: 1.6; */
  color: #e7dacc;
  background-size: 150%;
  /* in case the bacground image doesnt load */
  background-color: #a14747; 
  /* background-image: linear-gradient(45deg, #a14747, #4f3b3b); */
  /* background-image: linear-gradient(45deg, #a14747, #4f3b3b); */
  background-image: linear-gradient(45deg, #a14747, #4f3b3b);
  /* background-image: linear-gradient(45deg, #b02c2c, #8b1414, #581010); */

  animation: bg-animation 10s infinite;
}

@keyframes bg-animation {
  0% {background-position: left}
  50% {background-position: right}
  100% {background-position: left}
}

.section {
  display: block;
  width: 100%; 
}

#home {
  height: 110vh;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 40% auto;
}

#homeElement1 {
  font-size: 6rem;
  justify-self: end;
  align-self: end;
  margin: 0px;
  line-height: 5rem;
}

#homeElement2 {
  font-size: 1rem;
  justify-self: end;
  align-self: start;
  margin: 0px;
}

#homeElement3 {
  font-size: 4rem;
  justify-self: start;
  align-self: center;
  grid-area: 1 / 2 / end / end;
  margin: 0px;
  padding-top: 3em;
  line-height: 4rem;
}

#about {
  height: 100vh;
}


/* navbar */
.navbar {
  position: fixed;
  top: 0;
  z-index: 1;
  display: flex;
  width: 100%;
  height: 60px;
  justify-content: center;
}

.navbar ul {
  display: flex;
  list-style: none;
  padding: 6px;
  width: auto;
  background: rgba(0,0,0,0.2);
  border-radius: 5px;
  height: fit-content;

}

.navbar ul li {
  margin: 0 2rem;
  padding: 0;
}

.navbar ul li a {
  text-decoration: none;
  text-transform: uppercase;
  color: #f4f4f4;
  font-size: 1.1em;
}

.navbar ul li a:hover {
  color: #BFBFBF;
}










/*   

  section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100vh;
   
    /* Scroll Snap */
    /* 
    scroll-snap-align: center;
  }
  
  section h1 {
    font-size: 4rem;
  }
  
  /* Section Images */
  /*
  section#home {
    background: url(photos/leaf.jpg) no-repeat center center/cover;;
  }
  
  section#about {
    background: url('https://source.unsplash.com/VRxo0yY-gyM/1600x900') no-repeat center center/cover;;
  }
  
  section#projects {
    background: url('https://source.unsplash.com/K2tdx2mFDHc/1600x900') no-repeat center center/cover;;
  }
  
  section#contact {
    background: url('https://source.unsplash.com/2aAHlfDOhJM/1600x900') no-repeat center center/cover;;
  }
   */ 