/* Fonts */
@font-face {
	font-family: "Raleway Thin";
	src: url(../assets/fonts/Raleway-Thin.ttf);
}

@font-face {
	font-family: "Roboto Condensed Light";
	src: url(../assets/fonts/RobotoCondensed-Light.ttf);
}

@font-face {
	font-family: "Titillium";
	src: url(../assets/fonts/TitilliumWeb-Regular.ttf);
}

/* Variables */
:root {
	--white: #f4f4f4;
	--black: #1d1d21;
}

::-webkit-scrollbar {
  display: none;
}

body {
	font-size: 16px;
	background-image: url("../assets/pictures/background.png");
	background-color: black;
	height: 100vh;
	overflow: hidden;
	font-family: sans-serif;
}

h1 {
	font-family: 'Raleway Thin', sans-serif;
}

p {
	font-family: 'Titillium', sans-serif;
}

button {
	cursor: pointer;
}

textarea {
	resize: none;
}

/* Navbar --------------------------------------------------------> */
nav {
	position: absolute;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.5);
	height: 50px;
	width: 100%;
	overflow: hidden;
	z-index: 999;
}

nav > ul {
	/* paddnig: auto; */
	margin: 0;
    padding: 0;
    text-align: center;
}

nav > ul > li {
	list-style-type: none;
	display: inline;
}

nav > ul > li > button {
	/* color: var(--white); */
	color: gray;
	font-family: 'Titillium';
	background-color: Transparent;
    border: none;
    outline: none;
	font-size: 1.5rem;
	padding: 20px;
	padding-top: 12px;
}

nav > ul > li > button.active {
	color: var(--white);
	-webkit-animation: activate 0.25s;
       -moz-animation: activate 0.25s;
	    -ms-animation: activate 0.25s;
	     -o-animation: activate 0.25s;
		    animation: activate 0.25s;
}

/* nav > ul > li > button.inactive {
	color: grey;
	-webkit-animation: activate 5.25s reverse;
       -moz-animation: activate 5.25s reverse;
	    -ms-animation: activate 5.25s reverse;
	     -o-animation: activate 5.25s reverse;
		    animation: activate 5.25s reverse;
} */

@keyframes activate { from { color: gray; } to { color: var(--white); } }
@-ms-keyframes activate { from { color: gray; } to { color: var(--white); } }
@-moz-keyframes activate { from { color: gray; } to { color: var(--white); } }
@-webkit-keyframes activate { from { color: gray; } to { color: var(--white); } }

/* Sections ------------------------------------------------------- */
.invisible {
	display: none !important;
}

.section {
	color: var(--white);
	-webkit-animation: fadein 0.25s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 0.25s; /* Firefox < 16 */
	    -ms-animation: fadein 0.25s; /* Internet Explorer */
	     -o-animation: fadein 0.25s; /* Opera < 12.1 */
		    animation: fadein 0.25s;
}

@keyframes fadein   { from { opacity: 0; }  to { opacity: 1; } }
@-ms-keyframes fadein { from { opacity: 0; } to { opacity: 1; } }
@-moz-keyframes fadein { from { opacity: 0; } to { opacity: 1; } }
@-webkit-keyframes fadein { from { opacity: 0; } to { opacity: 1; } }

/* Landing */
.landing {
	max-width: 450px;
	height: 300px;

	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.landing > h1 {
	font-family: 'Raleway Thin';
	font-size: 5rem;
	padding: 0;
	margin: 0;
}

.landing > h2 {
	font-family: 'Roboto Condensed Light';
	color: grey;
	font-size: 1rem;
	padding: 0;
	margin: 0;
	margin-left: 6px;
}


/* Projects */
.projects {

}

.projects > .deck > h1 {
	font-family: 'Raleway Thin';

	position: absolute;
	top: 0;
	left: 0;
	transform: translate(0%, -200%);
}

.projects > .deck {
	width: 900px;
	height: 400px;

	display: grid;
	/* grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(2, 1fr); */
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(2, 1fr);
	column-gap: 10px;
	row-gap: 10px;

	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.projects > .deck > .card {
	background-color: var(--black);
	width: 217.5px;
	height: 190px;
	overflow: hidden;

}

.projects > .deck > .card > .view {
	width: 100%;
	height: 50%;
	overflow: hidden;
}

.projects > .deck > .card > .view > img {
	/* height: 20px;
	width: inherit;
	border: red 1px solid; */
	/* width: 217.5px; */
	width: 100%;
	object-fit: contain;
}

.projects > .deck > .card > .view > #templater {
	transform: translate(0, -75px);
}

.projects > .deck > .card > .view > .bite {
	transform: translate(0, -25px);
	filter: invert(0.95);
}

.projects > .deck > .card > .view > .nameCamel {
	filter: invert(0.95);
}

.projects > .deck > .card > .description {
	font-family: 'Titillium';
	font-size: 0.8rem;
	overflow: auto;
	margin: 10px;
}

.projects > .deck > .card > .description > h2 {
	margin: 0;
}

.projects > .deck > .card > .description > p {
	margin-top: 5px;
}

.projects > .deck > button {
	width: 50px;

	position: absolute;
	top: 0;
	height: calc(100% - 10px);
	background: transparent;
	border: none;
	color: var(--white);

	/* background: rgb(255,255,255);
	background: radial-gradient(circle, rgba(255,255,255,0) 33%, rgba(255,255,255,0.3029586834733894) 69%, rgba(255,255,255,0.5074404761904762) 100%); */

	border: solid 1px var(--black);
}

.projects > .deck > button.left {
	left: -10px;
	transform: translate(-100%, 0%);
	/* border-left: none; */
}

.projects > .deck > button.right {
	right: -10px;
	transform: translate(+100%, 0%);
	/* border-right: none; */
}


/* Contact */
.contact > .container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	column-gap: 30px;

	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.contact > .container > .info {
	width: 400px;

	justify-self: end;
	align-self: center;
}
.contact > .container > .info > a {
	color: white;
	font-size: 2rem;
}

.contact > .container > .info > button {
	background: transparent;
	border: none;
	color: var(--white);
	padding: 0;
	font-size: 2rem;
}

.contact > .container > form {
	width: 400px;
	font-family: 'Titillium';

	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr 4fr 1fr;
	column-gap: 10px;
	row-gap: 10px;

	justify-self: end;
	align-self: center;
}

.contact > .container > form > input,
.contact > .container > form > textarea {
	border: none;
	padding: 5px;
	color: var(--white);
	background-color: var(--black);
}

.contact > .container > form > input#org,
.contact > .container > form > textarea.message {
	grid-column: 1 / 3;
}

.contact > .container > form > button {
	grid-column: 1 / 3;
	color: var(--white);
	background-color: var(--black);
	border: none;
}
