/* Variables */
:root {

}

/* Fonts */
@font-face {
  font-family: "Helvetica LT Pro";
  src: url(../assets/fonts/HelveticaLTPro-Roman.woff2);
}

@font-face {
	font-family: "Nanum Gothic";
	src: url(../assets/fonts/NanumGothic-Regular.ttf);
}

@font-face {
	font-family: "Darker Grotesque Light";
	src: url(../assets/fonts/DarkerGrotesque-Light.ttf);
}

@font-face {
	font-family: "Lato Thin";
	src: url(../assets/fonts/Lato-Thin.ttf);
}

::-webkit-scrollbar {
  display: none;
}

body {
	font-size: 16px;
}
